################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JDAnalyser/JDAnalyser.API/bin
/JDAnalyser/.vs
/JDAnalyser/JDAnalyser.Application/bin
/JDAnalyser/JDAnalyser.Application/obj
/JDAnalyser/JDAnalyser.Domain/bin
/JDAnalyser/JDAnalyser.Domain/obj
/JDAnalyser/JDAnalyser.Infrastructure.AI/bin
/JDAnalyser/JDAnalyser.Infrastructure.AI/obj
/JDAnalyser/JDAnalyser.Infrastructure.Cache/bin
/JDAnalyser/JDAnalyser.Infrastructure.Cache/obj
/JDAnalyser/JDAnalyser.Infrastructure.Persistence/bin
/JDAnalyser/JDAnalyser.Infrastructure.Persistence/obj
/JDAnalyser/JDAnalyser.API/bin
/JDAnalyser/JDAnalyser.API/obj
/JDAnalyser/JDAnalyser.Infrastructure.Core/bin
/JDAnalyser/JDAnalyser.Infrastructure.Core/obj
